# Node Aguada 01 defaults (ESP32-C3)
CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
